.actorItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    color: #d9049a;
    margin: 10px;
    width: 300px;
}

.name {
    margin-left: 10px;
    font-size: 20px;
}
