.container {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    height: calc(100vh - 133px);
}

.actorsWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 125px);
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
