.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gainsboro;
}

.navBar {
    display: flex;
    justify-content: flex-start;
}

.addForm {
    padding: 0 10px 0 0;
    margin: 0;
}
